@import "tailwindcss";

.cardContainer {
  @apply m-2.5 m-2.5;
}
* {
  @apply box-border m-0 p-0 box-border m-0 p-0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@layer {
  * {
    scrollbar-color: var(--darkreader-background-b0b0b0, #454a4d)
      var(--darkreader-background-f1f1f1, #202324);
  }
}

@media screen and (max-width: 600px) {
  .card {
    @apply min-w-[45vw] max-w-[45vw];
  }
}
.card {
  @apply bg-[#eee] shadow-[0_3px_15px_rgba(0,0,0,0.5)] items-center text-center transition-[0.25s] duration-[ease-in] max-w-[210px] min-w-[210px] min-h-[330px] max-h-[330px] text-[#202020] relative bg-[rgb(80,200,120)] p-5 rounded-[10px];
  transform-style: preserve-3d;
  perspective: 150rem;
  --darkreader-inline-bgcolor: var(--darkreader-background-50c878, #2d905f);
}
* {
  @apply box-border m-0 p-0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

